.consultation{
    min-height: 680px;
    background-image: url('../img/bg/run.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 92px 0;
    &__description{
        margin-top: 80px;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
}