@import 'base/variables';

* {
    font-family: 'Museo Sans', sans-serif;
    font-size: 12px;
}

.container{
    max-width: 950px;
    margin: 0 auto; 
}

.title_block{
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantage';