@import 'base/variables';

* {
    font-family: 'Museo Sans', sans-serif;
    font-size: 12px;
}

.container{
    max-width: 950px;
    margin: 0 auto; 
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/advantage';
@import 'blocks/consultation';
@import 'blocks/forms';
